@import "../color"
@import "../font"

body
  overflow-x: hidden
  width: 100vw
  a
    text-decoration: none
body
 main
   .banner
      margin: 0
      padding: 0
      width: auto
      height: 115vh
      position: relative
      z-index: -9

 main
  .banner
    .banner-image
      height: 84%
      width: auto


main
  .banner
    .carousel-inner
      height: 40rem

main
  .banner
    .carousel-inner
      img
        height: 35rem

main
  .banner
    .contact
      background-color: $primary-color
      font-weight: lighter
      height: 40px
      width: 195px
      display: flex
      align-items: center
      justify-content: center
      color: #ffffff
      position: absolute
      top: 0
      right: 18rem

    .description-banner

        padding: 0 2rem
        width: 16rem
        height: 26rem
        background-color: rgba(1, 59, 97, 0.81)
        color: #ffffff
        position: absolute
        left: 11rem
        bottom: -4rem
        display: flex
        flex-direction: column
        h3
          color: #ffffff
          font-size: 18px
          padding: 25px 0
        .description-para
          padding-bottom: 20px
        .description-savoir
          cursor: pointer
          border: 1px solid #ffffff
          width: 150px
          height: 45px
          display: flex
          align-items: center
          justify-content: center
          transform: translateX(14%)
          text-decoration: none
          color: #ffffff

        .description-montant
          display: flex
          align-items: center
          justify-content: center
          padding-top: 0.6rem
          margin-bottom:  1rem
          padding-bottom: 0


body
  main
    .button
      color: black
      border: 1px solid #093553
      width: 150px
      height: 45px
      display: flex
      align-items: center
      justify-content: center

body
  main
      .presentations
        display: flex
        //Ajout 18.09.2024
        align-items: center
        justify-content: center
        column-gap: 7rem
        //Fin 18.09.2024
        width: 100vw
        flex-wrap: wrap
        margin: 0.5rem 0 1rem 0

      .presentations
          img
             width: 450px
body
  main
    .presentations
      .presentation-right
        margin-top: 1rem
        width: 450px
        //Modification ce 18.09.2024
        //padding-left: 5rem
        a
          color: black
          border: 1px solid #093553
          margin-top: 3rem
        h4
          font-size: 20px
          margin-bottom: 1rem
          font-weight: 700


body
  main
    .presentations
      .presentation-left
        //padding-left: 7rem
        padding-left: 0rem


main
  .class-propriete
    margin : 4rem 0
    width: 100vw
    .status
      z-index: -999999999
      background-color: red
      color: white
      display: inline-block
      width: 50px
      text-align: center
      height: 17px
      font-size: 10px
      transform: translateY(-1.5rem)
    .btn-voir
      background-color: $primary-color
      color: #ffffff
    .title-propriete
      padding-bottom: 2rem
      display: flex
      justify-content: center
    .container-propriete
      display: flex
      justify-content: space-evenly
      flex-wrap: wrap
      margin-bottom: 3rem
      .card-propriete
        margin: 1rem 0.5rem
        height: 430px
        width: 240px
        box-shadow: 0 0 10px rgba(229, 224, 224, 0.84)
        border-radius: 0.2rem
        overflow: hidden
        .card-body
          margin-top: 1rem
          padding: 10px
          hr
            position: relative
            z-index: -999
          .container-icons
            display: flex
            justify-content: space-around
            .chambre
              img
                padding-bottom: 8px
          h3
            font-size: 20px
            font-weight: 700
        .card-head
          width: 100%
          height: 10rem
          position: relative
          z-index: -999
          img
           width: 100%
           height: 100%

    .link
      width: 100vw
      display: flex
      justify-content: center

body
  main
    .section-confiance
      margin-top: 7rem
      width: 100vw
      h1
        text-align: center
        font-size: 26px
        font-weight: 600
      .container-cardConfiance
        width: 100vw
        display: flex
        justify-content: center
        align-items: center

        .cardConfiance
          margin: 3rem 0
          width: 230px
          display: flex
          align-items: center
          justify-content: center
          flex-direction: column
          .cardConfiance-title
            margin: 0.8rem 0
          img
            width: 50px
          h4
            font-size: 15px
            text-align: center
            font-weight: 700
          p
            text-align: center
            line-height: 1rem

body
  main
    .section-temoignage
      width: 100vw
      h4
        padding-top: 8.67rem
        font-size: 24px
        width: 100vw
        text-align: center
        color: #ffffff
        font-weight: 800
      .overlay
        height: 100%
      a
        text-decoration: none
        color: white
      .ContainerTemoignages
        padding-top: 3rem
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        width: 100vw
        .temoignage
          margin: 1rem 3rem
          display: flex
          align-items: center
          justify-content: center
          flex-direction: column
          width: 220px
          text-align: center
          line-height: 1.2rem
          img
            width: 24px
          .tImage
            padding-bottom: 1rem
          .tParagraph
            padding-top: 3rem
            font-weight: 500
            color: rgba(252, 180, 4, 0.93)
          q
            font-weight: 100
body
  main
    .sectionBlog
      margin: 1rem 0
      z-index: -999
      .title-blog
        font-weight: 900
        font-size: 30px
        margin-left:  6rem
      .btn-blog
        margin-left: 6rem
        padding: 0.5rem 1.5rem
        border: 1px solid #232426
        border-radius: 50px

      .swiper
        max-width: 1100px
        margin: 0 60px 35px
        overflow: hidden
        position: relative
        height: 20rem
        padding: 0 1.5rem
        .swiper-button-prev
          margin: 0
        .swiper-wrapper
          width: 60vw

        .card
          z-index: -999
          max-width: 24rem
          display: block
          background: #ffffff
          padding: 12px
          margin: 0 0.2rem
          border-radius: 12px
          border: 2px solid transparent
          box-shadow: 0 10px 10px rgba(0,0,0,0.05)
          transition: 0.2s ease
          &:hover
            border-color: #5372F0
          .card-title
            font-size: 1rem
            transform: translateY(-1rem)
            font-weight: 600
            padding-top: 0.7rem
          .card-description
            padding-top: 0.79rem
            font-size: 0.6rem
            color: darkorange
          .card-image
            height: 170px
            width: 100%
            object-fit: cover
            border-radius: 10px
          .button-swiper
            position: absolute
            transform: translateY(-30rem)

