<footer>
    <div class="footer-wrapper">
        <div class="footer-st-line">
            <div class="about-us">
                <h1>A PROPOS DE NOUS</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, debitis
                    dolorem expedita explicabo fuga hic illo in maiores necessitatibus odit optio
                    perspiciatis qui quia quod reprehenderit repudiandae soluta, tempora voluptate?
                </p>
            </div>
            <div class="recently-blog">
                <h1>ARTICLES RECENTS DU BLOG</h1>

            </div>
            <div class="gallery">
                <h1>GALLERIES</h1>
            </div>
        </div>
        <div class="footer-sd-line">
            <nav>
                <ul>
                    <li><a href="#" class="df-center">ACCEUIL</a></li>
                    <li><a href="#" class="df-center">A PROPOS DE NOUS</a></li>
                    <li><a href="#" class="df-center">NOS BIENS</a></li>
                    <li><a href="#" class="df-center">CARRIERES</a></li>
                    <li><a href="#" class="df-center">CONTACT</a></li>
                </ul>
            </nav>
            <div class="social-links">
                <a><i class="bi bi-facebook"></i></a>
                <a><i class="bi bi-whatsapp"></i></a>
                <a><i class="bi bi-instagram"></i></a>
            </div>
        </div>
        <div class="footer-nd-line">
            <a class="bl-link header-logo" href="{{ path("app_main") }}"><img src="{{ asset('img/logo.png') }}" alt="Logo" /><span>IMMO & SERVICES</span></a>
            <p>© 2024. All Rights Reserved.</p>
        </div>
    </div>
</footer>